<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Home Security Camera</h1>
        <a href="{{ url_for('video_feed') }}" target="_self">Link to Video Feed</a>
        <h3>Settings</h3>
        <br>
        <form action="/", method="POST">
            <label for="email_switch">Send email upon motion capture</label>
            {% if email_switch == "on" %}
            <input type="checkbox" id="email_switch" name="email_switch" checked>
            {% else %}
            <input type="checkbox" id="email_switch" name="email_switch">
            {% endif %}
            <br>
            <label for="capture_switch">Save footage upon motion capture</label>
            {% if capture_switch == "on" %}
            <input type="checkbox" id="capture_switch" name="capture_switch" checked>
            {% else %}
            <input type="checkbox" id="capture_switch" name="capture_switch">
            {% endif %}
            <br>
            <label for="email">Add email to notification list:</label>
            <input type="text" id="email" name="email"><br><br>
            <input type="submit" value="Update Settings">
        </form>

        
        <script src="" async defer></script>
    </body>
</html>